<div class="card p-4 flex flex-col items-center justify-center gap-3 bg-none text-center border-2 rounded-2xl shadow-lg">
    <h2 class="text-3xl">
        {{ `${weatherData()?.main?.temp}${selectedUnits.temperatureUnit}`}}
    </h2>
    <div class="flex flex-row items-center gap-3">
        <div class="card-header flex flex-col items-center justify-center text-lg">
            <h2>{{ `${weatherData()?.name}, ${weatherData()?.sys?.country}` }}</h2>
            <h2>{{ weatherData()?.weather?.at(0)?.main }}</h2>
            <!-- <h2>
                {{ weatherData()?.weather?.at(0)?.description?.toLocaleLowerCase() }}
            </h2> -->
        </div>
        <img 
            [src]="'https://openweathermap.org/img/wn/' + weatherData()?.weather?.at(0)?.icon + '@2x.png'" 
            [alt]="weatherData()?.weather?.at(0)?.description"
            class="w-20 h-20 m-auto" 
        />
    </div>    
    <div class="flex flex-row gap-9">
        <div>
            <p>Sunrise</p>
            <p>{{ formatTime(weatherData()?.sys?.sunrise, weatherData()?.timezone) }}</p>
            <!-- {{ ((weatherData()?.sys?.sunrise + weatherData()?.timezone) * 1000) | date:'hh:mm a':'UTC' }} -->
        </div>
        <div>
            <p>Sunset</p>
            <p>{{ formatTime(weatherData()?.sys?.sunset, weatherData()?.timezone) }}</p>
        </div>
    </div>
    <div class="flex flex-col gap-1 text-left">
        <p>Feels Like: {{ `${weatherData()?.main?.feels_like}${selectedUnits.temperatureUnit}` }}</p>
        <p>Humidity: {{ weatherData()?.main?.humidity }}%</p>
        <p>Wind Speed: {{ `${weatherData()?.wind?.speed} ${selectedUnits.speedUnit} `}}</p>        
    </div>
    <!-- <button (click)="display()">Show Details</button> -->
</div>