<!--
Welcome to the Weather App project! 🚀

Dear new hire, we're excited to have you on board. Please make sure to read the README.md file in this repository for important instructions, project guidelines, and onboarding steps before you start coding.
-->
<!-- You can freely remove the <app-sample-card> and create your 
    own components for displaying weather data. -->    

<div class="h-[100vh] flex flex-col items-center justify-center gap-4 bg-gradient-to-b from-gray-300 to-blue-200">
    <form class="w-6/10 sm:w-75 flex flex-col gap-3 *:flex *:gap-5 *:items-center" [formGroup]="form" (ngSubmit)="onSubmit()">
        <div>
            <input class="w-100 p-2 border-2 rounded-lg shadow-lg outline-none" type="text" formControlName="city" placeholder="Input City"/>
        </div>
        <div>
            <label class="pl-1 w-1/5" for="country">Unit:</label>
            <select class="w-4/5 p-2 border-2 rounded-lg shadow-lg outline-none" id="unit" formControlName="unit">
                @for (u of units; track u) {
                    <option class="w-full" [value]="u">{{ u.charAt(0).toUpperCase()+ u.slice(1) }}</option>
                }
            </select>
        </div>
        <button class="mx-auto px-10 py-1 border-2 rounded-lg shadow-lg" type="submit">Search</button>
    </form>

    @if (weatherDataResource.isLoading()) {
        <p>Loading weather data...</p>
    } @else if (weatherDataResource.error()) {
        <app-error-card error="weatherDataResource.error()" />
    } 
    @else if (weatherDataResource.hasValue()) {
        <app-sample-card class="w-6/10 sm:w-75" [weatherData]="weatherDataResource.value()" [displayUnit]="inputUnit()"/>
    } @else {
        <p>No weather data yet. Please enter a city and click "Get Weather".</p>
    }
    
    @if (recents()) {
        <app-recent-searches class="w-6/10 sm:w-75" [recentSearches]="recentSearches" [displayUnit]="inputUnit()"/>
    }
</div>
